.container{
  display: grid;
  width: 100%;
}

.gridTitle {
  font-weight: 700;
  font-size: larger;
  line-height: 60px;
  vertical-align: middle;
  text-indent: 1em;
  background-color: #cecece;
  align-self: stretch;
  width: 100%;
}

.r-spinner{
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 200px;
}
