.gridTitle {
  font-weight: 700;
  font-size: larger;
  line-height: 60px;
  vertical-align: middle;
  text-indent: 1em;
  background-color: #cecece;
  align-self: stretch;
}
.paddingZero {
  padding: 0;
}

.tankColumn {
  position: relative;
  border: solid;
  border-width: 0.15px;
  border-radius: 3px;
  border-color: gray;
  height: 50px;
  text-align: center;
  opacity: 0.999;
}

.level {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: orange;
  z-index: -1;
}

.splittedCell {
  padding: 7px 0 7px 0;
}

.statusField {
  width: 50%;
  height: 60px;
  border: solid 0.15px lightgray;
  border-radius: 3px;
  font-weight: bold;
  overflow-wrap: break-word;
  align-items: center;
  justify-content: center;
  display: flex;
}

.statusContainer {
  display: flex;
  height: 100%;
  align-items: center;
}

.imageContainer {
  display: flex;
  height: 100%;
  justify-content: center;
  align-items: center;
}
.rankImage {
  height: 50px;
  width: 50px;
}

@keyframes progress {
  0% {
    --percentage: 0;
  }
  100% {
    --percentage: var(--value);
  }
}

@property --percentage {
  syntax: "<number>";
  inherits: true;
  initial-value: 0;
}

[role="progressbar"] {
  --percentage: var(--value);
  --primary: rgb(31, 83, 134);
  --secondary: #adf;
  --size: 100px;
  animation: progress 2s 0.5s forwards;
  width: var(--size);
  aspect-ratio: 2 / 1;
  border-radius: 50% / 100% 100% 0 0;
  position: relative;
  overflow: hidden;
  display: flex;
  align-items: flex-end;
  justify-content: center;
}

[role="progressbar"]::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: conic-gradient(
    from 0.75turn at 50% 100%,
    var(--primary) calc(var(--percentage) * 1% / 2),
    var(--secondary) calc(var(--percentage) * 1% / 2 + 0.1%)
  );
  mask: radial-gradient(at 50% 100%, white 55%, transparent 55.5%);
  mask-mode: alpha;
  -webkit-mask: radial-gradient(at 50% 100%, #0000 55%, #000 55.5%);
  -webkit-mask-mode: alpha;
}

[role="progressbar"]::after {
  counter-reset: percentage var(--value);
  content: counter(percentage);
  font-family: Helvetica, Arial, sans-serif;
  font-size: calc(var(--size) / 5);
  color: var(--primary);
}

/* demo */
.progressCircular {
  margin: 0;
  display: flex;
  place-items: center;
  background: transparent;
}

.statusClass {
  width: 170px;
}

.k-cell-inner > .k-link {
  justify-content: center;
  text-align: center;
}

.dashboard-footer {
  display: grid;
  position: relative;
  flex: 1;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 50px;
  align-items: center;
  vertical-align: middle;
  grid-auto-flow: row;
  div {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    font-weight: bold;
    display: table-cell;
    text-align: center;
  }
}
