@mixin font-title {
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
  text-decoration-color: black;
  background-color: lightgray;
}

.r-grid {
  display: grid;
}

table {
  border-collapse: collapse;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
  td,
  th {
    border: 1px solid #ddd;
  }

  th{
    @include font-title();
    background-color: lightgray;
  }

}

.td-title {
  @include font-title();
  width: 85px;
  padding-left: 3px;
}

.td-values {
  width: 100px;
  text-align: right;
  padding-right: 3px;
}
.td-values-span{
  font-weight: bold;
  font-size: 17px;
  width: 80px;
  text-align: center;
}

.r-body{
  display: grid;
  position: relative;
  flex: 1;
  grid-template-columns: 16% 6% 14% 14% 12% 38%;
  // grid-template-rows: 180px 150px 150px;
  grid-auto-rows: max-content;
  row-gap: 15px;
  align-items: center;
  vertical-align: middle;
  grid-auto-flow: row;
}

.r-b-box1 {
  grid-column: 1 / span 2;
  grid-row: 1;
}

.r-b-box2 {
  grid-column: 3 / span 3;
  grid-row: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.r-b-box3 {
  grid-column: 6;
  grid-row: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.r-b-box4 {
  grid-column-start: 1;
  grid-row: 2;
}
.r-b-box5 {
  grid-column: 2 / span 3;
  grid-row: 2;
}
.r-b-box6 {
  grid-column: 5 / span 2;
  grid-row: 2 / span 2;
}
.r-b-box7 {
  grid-column: 1 / span 2;
  grid-row: 3;
}
.r-b-box8 {
  grid-column: 3;
  grid-row: 3;
}
.r-b-box9 {
  grid-column: 4;
  grid-row: 3;
}

.r-footer{
  margin-top: 15px;
}
