<div class="container">
  <div class="gridTitle">Lines</div>
  <div class="userTable">
    <kendo-grid
      [kendoGridBinding]="autocontrolData"
      [selectable]="{ mode: 'single' }"
      [pageSize]="15"
      [pageable]="true"
      [sortable]="true"
      [columnMenu]="true"
      (edit)="editHandler($event)"
      #grid
    >
      <ng-template kendoGridToolbarTemplate>
        <button kendoButton [look]="'flat'" [icon]="'edit'" pGridButtonEdit>
          Edit
        </button>
      </ng-template>

      <kendo-grid-checkbox-column
        [showSelectAll]="true"
        [columnMenu]="false"
      ></kendo-grid-checkbox-column>

      <kendo-grid-column field="nACId" title="ID"> </kendo-grid-column>

      <kendo-grid-column field="szLineName" title="Line"> </kendo-grid-column>

      <kendo-grid-column field="szACName" title="Line Name">
      </kendo-grid-column>

      <kendo-grid-column field="szArea" title="Area"> </kendo-grid-column>

      <kendo-grid-column field="nStatus" title="Status"> </kendo-grid-column>

      <kendo-grid-column field="szStatus" title="Status"> </kendo-grid-column>

      <kendo-grid-column field="szComment" title="Comment"> </kendo-grid-column>

      <kendo-grid-column field="tLastModified" title="Last Modified">
      </kendo-grid-column>
    </kendo-grid>

    <kendo-dialog *ngIf="active" [title]="'Edit'" (close)="onCancel()">
      <form [formGroup]="formGroup">
        <h4>ID</h4>
        <p-inputfield formControlName="nACId"></p-inputfield>
        <h4>Line name</h4>
        <p-inputfield formControlName="szACName"></p-inputfield>
        <h4>Comment</h4>
        <p-inputfield formControlName="szComment"></p-inputfield>
        <h4>Last Modified</h4>
        <p-inputfield formControlName="tLastModified"></p-inputfield>
      </form>

      <kendo-dialog-actions>
        <button class="k-button" (click)="onCancel()">Cancel</button>
        <button class="k-button k-primary" (click)="onSave()">Save</button>
      </kendo-dialog-actions>
    </kendo-dialog>
  </div>
</div>
