<plantit-web-frame
  [pageTitle]="title"
  [serverUrl]="pitBaseUrl"
  [baseApplicationId]="clientId"
  base-scopes="'openid basecommon profile'"
  [baseRedirectUrl]="redirectUrl"
  [basePostLogoutRedirectUrl]="logoutUrl"
  [handleRedirect]="frameRedirect"
  [language]="locale"
>
</plantit-web-frame>
<!-- <plantit-web-progress-indicator determinable="true"></plantit-web-progress-indicator> -->

<main>
  <plantit-web-sitenavigation
    is-collapsable="true"
    basetab-caption="Navigation:"
  >
    <ul class="static" tab-caption="LMS">
      <!-- <li>
        <a
          routerLink="autocontrol"
          routerLinkActive="active"
          ariaCurrentWhenActive="page"
        >
          Autocontrol
        </a>
      </li> -->
      <li>
        <a
          routerLink="dashboard"
          routerLinkActive="active"
          ariaCurrentWhenActive="page"
        >
          Panel Envasado
        </a>
      </li>
      <li>
        <a
          routerLink="report"
          routerLinkActive="active"
          ariaCurrentWhenActive="page"
        >
          Informe por linea
        </a>
      </li>
    </ul>
  </plantit-web-sitenavigation>

  <content>
    <router-outlet> </router-outlet>
  </content>
</main>

<plantit-web-footer>{{ copyRightFooter }}</plantit-web-footer>
