<plantit-web-frame
  icon-url="/assets/icon.svg"
  [pageTitle]="title"
  [serverUrl]="pitBaseUrl"
  [baseApplicationId]="clientId"
  base-scopes="'openid basecommon profile'"
  [baseRedirectUrl]="redirectUrl"
  [basePostLogoutRedirectUrl]="logoutUrl"
  [handleRedirect]="frameRedirect"
  [language]="locale"
  clear-hash-after-login="false"
  logo-type="ProductLogo"
  hide-menu-button="false"
>
  <div class="center" slot="frame-center"></div>
  <div slot="frame-right"></div>
  <!-- <p slot="frame-left">Custom content left to the title</p>
    <div slot="frame-right">
      <p>Custom content right to the title</p>
      <p>Example with multiple child elements</p>
    </div> -->
</plantit-web-frame>
<!-- <plantit-web-progress-indicator determinable="true"></plantit-web-progress-indicator> -->

<main>
  <plantit-web-sitenavigation is-collapsable="true" basetab-caption="Navigation:">
    <ul class="static" tab-caption="LMS">
      <!-- <li>
        <a
          routerLink="autocontrol"
          routerLinkActive="active"
          ariaCurrentWhenActive="page"
        >
          Autocontrol
        </a>
      </li> -->
      <li>
        <a
          routerLink="dashboard"
          routerLinkActive="active"
          ariaCurrentWhenActive="page"
        >
          Dashboard
        </a>

      </li>
      <li>
        <a
          routerLink="report"
          routerLinkActive="active"
          ariaCurrentWhenActive="page"
        >
          Report
        </a>

      </li>
    </ul>
  </plantit-web-sitenavigation>

  <content>
    <router-outlet> </router-outlet>
  </content>
</main>

<plantit-web-footer>{{copyRightFooter}}</plantit-web-footer>
