.k-sb-container{

  kendo-chart{
    position: flex;
    max-height: 100px;
    display: flex;
  }
}

.k-sb-name{
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
  text-align: center;
}
