<div class="container">
  <div class="gridTitle">Dashboard</div>
  <div class="userTable">
    <kendo-grid
      [kendoGridBinding]="dashboardData"
      [selectable]="false"
      [pageSize]="8"
      [pageable]="false"
      [sortable]="true"
      [columnMenu]="false"
      [filterable]="false"
      id="dashboard-grid"
      #grid
    >
      <kendo-grid-column field="szMachine" title="Linea" [headerStyle]="{}">
      </kendo-grid-column>
      <kendo-grid-column field="nRatedCapacity" title="Nominal">
        <ng-template kendoGridCellTemplate let-dataItem>
          {{ formatNumber(dataItem.nRatedCapacity) }}
        </ng-template>
      </kendo-grid-column>
      <kendo-grid-column field="goodQty" title="Produccion">
        <ng-template kendoGridCellTemplate let-dataItem>
          {{ formatNumber(dataItem.goodQty) }}
        </ng-template>
      </kendo-grid-column>
      <kendo-grid-column field="emptyInspector" title="Vacio">
        <ng-template kendoGridCellTemplate let-dataItem>
          {{ dataItem.emptyInspector > 0 ? dataItem.emptyInspector : "" }}
        </ng-template>
      </kendo-grid-column>
      <kendo-grid-column field="fullInspector" title="Lieno">
        <ng-template kendoGridCellTemplate let-dataItem>
          {{ dataItem.fullInspector > 0 ? dataItem.fullInspector : "" }}
        </ng-template>
      </kendo-grid-column>
      <kendo-grid-column field="estimated" title="Estimaccion">
        <ng-template kendoGridCellTemplate let-dataItem>
          {{
            formatNumber(
              dataItem.goodQty / dataItem.ratioOfCurrentShiftDuration
            )
          }}
        </ng-template>
      </kendo-grid-column>

      <kendo-grid-column field="nTank1" title="Tanque actual">
        <ng-template kendoGridCellTemplate let-dataItem>
          <div class="tankColumn">
            <div
              class="level"
              [style.height]="levelCalculation(dataItem.nVolTank1)"
            ></div>
            <div class="splittedCell">
              {{ "BBT - " + dataItem.nTank1 }}
            </div>
            <div class="splittedCell">
              {{ dataItem.nVolTank1 + " hl" }}
            </div>
          </div>
        </ng-template>
      </kendo-grid-column>

      <kendo-grid-column
        field="nTank2"
        title="Tanque en cola"
        [style]="{ 'text-align': 'center' }"
      >
        <ng-template kendoGridCellTemplate let-dataItem>
          {{ dataItem.nTank2 > 0 ? dataItem.nTank2 : "" }}
        </ng-template>
      </kendo-grid-column>

      <kendo-grid-column
        field="RatioAqua"
        title="Ratio Aqua"
        [style]="{ 'text-align': 'center' }"
      >
        <ng-template kendoGridCellTemplate let-dataItem>
          {{ waterRate(dataItem.waterRate) }}
        </ng-template>
      </kendo-grid-column>

      <kendo-grid-column field="eficienciaTiempo" title="Eficiencia">
        <ng-template kendoGridCellTemplate let-dataItem>
          <div class="progressCircular">
            <div
              role="progressbar"
              [attr.aria-valuenow]="dataItem.nShiftPercent"
              aria-valuemin="0"
              aria-valuemax="100"
              style="--value: {{ shiftPercent(dataItem.nShiftPercent) }}"
            ></div>
          </div>
          <!-- <div>
            <kendo-arcgauge [value]="gaugeValue"></kendo-arcgauge>
          </div> -->
        </ng-template>
      </kendo-grid-column>

      <kendo-grid-column field="nDataXLinkLine" title="Ranking">
        <ng-template kendoGridCellTemplate let-dataItem>
          <div class="imageContainer">
            <img
              src="{{ defineRankImage(dataItem.nDataXLinkLine) }}"
              class="rankImage"
            />
          </div>
        </ng-template>
      </kendo-grid-column>

      <kendo-grid-column
        field="secProductionTime"
        title="Tiempo de Produccion"
        [style]="{ 'text-align': 'center' }"
        [width]="170"
      >
        <ng-template kendoGridCellTemplate let-dataItem>
          {{ formatTimeDuration(dataItem.secProductionTime) }}
        </ng-template>
      </kendo-grid-column>

      <kendo-grid-column
        field="nDataXLinkLine"
        title="Estado Actual"
        [width]="170"
        [style]="{ 'text-align': 'center' }"
      >
        <ng-template kendoGridCellTemplate let-dataItem>
          <div class="statusContainer">
            <div
              *ngIf="defineStatusText(dataItem.nDataXLinkLine, 1) != ''"
              class="statusField"
              [style.backgroundColor]="
                defineStatusColor(dataItem.nDataXLinkLine, 1)
              "
            >
              <div>
                {{ defineStatusText(dataItem.nDataXLinkLine, 1) }}
              </div>
            </div>

            <div
              *ngIf="defineStatusText(dataItem.nDataXLinkLine, 2) != ''"
              class="statusField"
              [style.backgroundColor]="
                defineStatusColor(dataItem.nDataXLinkLine, 2)
              "
            >
              <div>
                {{ defineStatusText(dataItem.nDataXLinkLine, 2) }}
              </div>
            </div>
          </div>
        </ng-template>
      </kendo-grid-column>
    </kendo-grid>
  </div>
  <div class="dashboard-footer">
    <div class="d-f-left">
      Comienzo: {{ formatHeaderDate(this.dashboardHeader?.actualShift) }}
    </div>
    <div class="d-f-mid">
      Fin: {{ formatHeaderDate(this.dashboardHeader?.actualTime) }}
    </div>
    <div class="d-f-right">
      Desde comienzo del turno:
      {{ formatHeaderDuration(this.dashboardHeader?.duration) }}
    </div>
  </div>
</div>
