<div class="container">
  <div class="gridTitle">Lines</div>
  <div class="userTable">
    <!-- <ng-container kendoDialogContainer></ng-container> -->
    <kendo-grid
      [kendoGridBinding]="autocontrolData"
      kendoGridSelectBy="nACId"
      [selectable]="{ mode: 'single' }"
      [selectedKeys]="mySelection"
      [pageSize]="15"
      [pageable]="true"
      [sortable]="true"
      [filterable]="filterMode"
      (selectionChange)="selectionChange($event)"
      (edit)="editHandler($event)"
      (remove)="removeHandler($event)"
      (add)="addHandler()"
    >

      <!-- <kendo-grid-checkbox-column
        [width]="50"
        [showSelectAll]="false"
        [columnMenu]="false"
      ></kendo-grid-checkbox-column> -->

      <kendo-grid-column field="nACId" title="ID" [width]="80"> </kendo-grid-column>

      <kendo-grid-column field="szLineName" title="Line" [width]="100"> </kendo-grid-column>

      <kendo-grid-column field="szACName" title="Line Name" [filterable]="false">
      </kendo-grid-column>

      <kendo-grid-column field="szArea" title="Area"> </kendo-grid-column>

      <!-- <kendo-grid-column field="nStatus" title="Status"> </kendo-grid-column> -->

      <kendo-grid-column field="szStatus" title="Status" [width]="100" [filterable]="false"> </kendo-grid-column>

      <kendo-grid-column field="szComment" title="Comment" [filterable]="false"> </kendo-grid-column>

      <kendo-grid-column field="tLastModified" title="Last Modified" [filterable]="false">
        <ng-template kendoGridCellTemplate let-dataItem>
          {{ formatDate(dataItem.tLastModified) }}
        </ng-template>
      </kendo-grid-column>

      <kendo-grid-command-column title="Action" [width]="150" [filterable]="false">
        <ng-template kendoGridCellTemplate let-dataItem>
          <button class="a-dialog-edit-btn" [disabled] ="false" kendoGridEditCommand>Edit</button>
          <!-- <button [disabled] ="false" kendoGridRemoveCommand>Delete</button> -->
        </ng-template>
      </kendo-grid-command-column>
    </kendo-grid>

    <app-autocontrol-dialog
      [nKeyAC]="nKeyAC"
      [isNew]="isNew"
      [user]="pitBaseUserId"
      (save)="saveHandler($event)"
      (cancel)="cancelHandler()"
    >

    </app-autocontrol-dialog>

  </div>
</div>
