<div class="container">
  <div class="gridTitle">Lines</div>
  <div class="userTable">
    <!-- <ng-container kendoDialogContainer></ng-container> -->
    <kendo-grid
      [kendoGridBinding]="autocontrolData"
      kendoGridSelectBy="nACId"
      [selectable]="{ mode: 'single' }"
      [selectedKeys]="mySelection"
      [pageSize]="15"
      [pageable]="true"
      [sortable]="true"
      (selectionChange)="selectionChange($event)"
      (edit)="editHandler($event)"
      (remove)="removeHandler($event)"
      (add)="addHandler()"
    >

      <kendo-grid-checkbox-column
        [showSelectAll]="false"
        [columnMenu]="false"
      ></kendo-grid-checkbox-column>

      <kendo-grid-column field="nACId" title="ID"> </kendo-grid-column>

      <kendo-grid-column field="szLineName" title="Line"> </kendo-grid-column>

      <kendo-grid-column field="szACName" title="Line Name">
      </kendo-grid-column>

      <kendo-grid-column field="szArea" title="Area"> </kendo-grid-column>

      <kendo-grid-column field="nStatus" title="Status"> </kendo-grid-column>

      <kendo-grid-column field="szStatus" title="Status"> </kendo-grid-column>

      <kendo-grid-column field="szComment" title="Comment"> </kendo-grid-column>

      <kendo-grid-column field="tLastModified" title="Last Modified">
      </kendo-grid-column>

      <kendo-grid-command-column title="command" [width]="220">
        <ng-template kendoGridCellTemplate let-dataItem>
          <button [disabled] ="false" kendoGridEditCommand>Edit</button>
          <button [disabled] ="false" kendoGridRemoveCommand>Delete</button>
        </ng-template>
      </kendo-grid-command-column>
    </kendo-grid>

    <app-autocontrol-dialog
      [nKeyAC]="nKeyAC"
      [isNew]="isNew"
      (save)="saveHandler($event)"
      (cancel)="cancelHandler()"
    >

    </app-autocontrol-dialog>

  </div>
</div>
