.gridTitle {
  font-weight: 700;
  font-size: larger;
  line-height: 60px;
  vertical-align: middle;
  text-indent: 1em;
  background-color: #cecece;
  align-self: stretch;
}
.a-dialog-edit-btn{
  background-color: #39628f;
  color: white;
  width: 100px
}
